<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
    <%= f.label :email, for: "inputEmail", class: "sr-only" %>
    <%= f.text_field :email, id: "inputEmail", class: "form-control", placeholder: "Email address", required: "", autofocus: "" %>
    
    <%= f.label :password, for: "inputPassword", class: "sr-only" %>
    <%= f.password_field :password, id: "inputPassword", class: "form-control", placeholder: "Password", required:"" %>
    
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <%= f.submit "submit", class: "btn btn-lg btn-primary btn-block" %>
  </form>
  <% end %>
</div>