<div class="row">
  <div class="col col-md-3">
    <%= render 'user/shared/sidebar'%>
  </div>
  <div class="col col-md-9">
    <h1>Order User</h1>
    <table class="table">
      <thead>
        <td scope="col">Product Name</td>
        <td scope="col">Price</td>
        <td scope="col">Total Price</td>
        <td scope="col">Status</td>
        <td scope="col">Payment</td>
      </thead>
      <% @orders.each do |s|%>
      <tbody>
        <td><%= s.product.product_name %></td>
        <td><%= s.product.price %></td>
        <td><%= s.total_price %></td>
        <td><%= s.status%></td>
        <td><%= button_to "pay now", checkout_create_path, params: {id: s.id}, remote: true %></td>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
