<section class="banner-jumbroton">

   <div class="jumbotron"></div>

</section>

<div class="container">

<section class="page-1">
  <div class="row">
    <div class="col offset-md-5 ">
      <img src="<%= image_path("icon/icons8-gift-500.png")%>" width="100px" alt=""><h3><b>All Product :</b></h3>
    </div>
  </div>
  <hr>
  <div class="row">
    <% @products.each do |s| %>
    <div class="col col-md-4">
      <br>
      <br>
        <div class="card">
          <div class="card-header">

          </div>
          <div class="card-body">
            <b>Product name:</b> <%= s.product_name%><br>
            <b>Description:</b> <%= s.description%><br>
            <b>Price:</b> <%= s.price%><br>
            <% if Order.where(product_id: s.id).exists? %>
              <div class="alert alert-secondary" role="alert">
                Already order!
              </div>
            <% else %>
              <%= form_for @order, url: pages_path do |f|%>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :product_id, value: s.id%>
                <%= f.submit "Order", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
    <% end %>
</section>

<hr>

<section class="page-2">
  <h1>New Product</h1>
</section>

<hr>

<section class="page-3">
  <h1>Best Seller</h1>
</section>

<hr>

<section>
  <h1>category</h1>
</section>

</div>