<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <%= link_to root_path, class: "my-0 mr-md-auto font-weight-normal" do %>
    <img src="<%= image_path("icon/icons8-shop-400.png")%>" width="50px" alt=""> <strong>Olshop VS</strong>
  <% end %>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>


  <% if user_signed_in? %>   
    
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Profiles
      </button>
      <div class="dropdown-menu">
        <%= link_to "my dashboard", user_path, class: "dropdown-item" %>
        <%= link_to "Logout",  destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </div>

  <% else %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %>
  <% end %>
  <%= link_to 'Sign up',  new_user_registration_path %>

</div>


