<div class="container">


<form class="form-sign text-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    
<h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Email address", required:"", autofocus: true, autocomplete: "email" %>
  
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", required:"", class:"form-control" %>
  
    <%= f.label :password_confirmation, class:"sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Password", required:"" %>

    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>

<% end %>

<%= render "users/shared/links" %>
</form>


</div>